<a href="https://colab.research.google.com/github/SamuelSousaFerreira/Mercado-Financeiro/blob/main/Python_para_Finan%C3%A7as.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python para finanças**

## Importação das Bibliotecas

In [6]:
!pip install -q yfinance

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.4/50.4 KB 2.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 5.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.1/4.1 MB 54.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 12.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 11.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 6.7 MB/s eta 0:00:00

In [7]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

## Base de dados com uma ação

In [8]:
gol_df = yf.download("GOLL4.SA", start='2015-01-01')

[*********************100%***********************]  1 of 1 completed

In [9]:
gol_df

             Open   High    Low  Close  Adj Close   Volume
Date
2015-01-02  14.97  15.20  14.61  14.99      14.99   901900
2015-01-05  14.90  15.01  14.41  14.85      14.85  1272500
2015-01-06  14.75  15.21  14.65  15.21      15.21  2183500
2015-01-07  15.15  15.33  14.55  14.55      14.55  1846900
2015-01-08  14.41  14.65  14.20  14.27      14.27  1569500
...           ...    ...    ...    ...        ...      ...
2023-01-03   6.90   7.11   6.58   6.63       6.63  9913400
2023-01-04   6.67   6.95   6.59   6.84       6.84  9380100
2023-01-05   6.89   7.36   6.78   7.35       7.35  8957300
2023-01-06   7.30   7.65   7.25   7.62       7.62  8020000
2023-01-09   7.43   7.99   7.33   7.93       7.93  7698600

[1994 rows x 6 columns]

In [11]:
gol_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1994 entries, 2015-01-02 to 2023-01-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1994 non-null   float64
 1   High       1994 non-null   float64
 2   Low        1994 non-null   float64
 3   Close      1994 non-null   float64
 4   Adj Close  1994 non-null   float64
 5   Volume     1994 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 109.0 KB